In [22]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import MySQLdb

In [23]:
#Conexion a la base de datos de mysql proyecto_final
mysql_conexion =  MySQLdb.connect(host = 'localhost',
                                 port = 3306,
                                 user = 'root',
                                 passwd = 'Adriff22',
                                 db = 'proyecto_final')

In [24]:
#Vamos a hacer una consulta a la data del DENUE para trabajarlo como un dataframe
denue_cdmx_713943 = pd.read_sql('select * from dnue_cdmx_713943;', mysql_conexion) 
denue_cdmx_713943.head(5)

,index,cp,calle,actividad_economica,colonia,correo_e,estrato,Id,latitud,longitud,...,num_exterior,num_interior,razon_social,sitio_internet,telefono,tipo,tipo_vialidad,ubicacion,entidad_federativa,municipio
0,0,11550,ANATOLE FRANCE,Centros de acondicionamiento físico del sector...,POLANCO REFORMA,INFO@EVOLUTIONPILATES.COM.MX,11 a 30 personas,689998,19.43242053,-99.19751597,...,129,,,WWW.EVOLUTIONPILATES.COM.MX,5552818011,Fijo,CALLE,"MIGUEL HIDALGO, Miguel Hidalgo, CIUDAD DE MÉXICO",CIUDAD DE MEXICO,MIGUEL HIDALGO
1,1,07080,CABO VERDE,Centros de acondicionamiento físico del sector...,GABRIEL HERNANDEZ,,6 a 10 personas,752673,19.49710213,-99.09947190,...,18,,,,,Fijo,CALLE,"GUSTAVO A. MADERO, Gustavo A. Madero, CIUDAD D...",CIUDAD DE MEXICO,GUSTAVO A. MADERO
2,2,06170,ALFONSO REYES,Centros de acondicionamiento físico del sector...,HIPÓDROMO CONDESA,,6 a 10 personas,867230,19.41105369,-99.18176246,...,0,,,4UGYM.COM.MX,5552712042,Fijo,CALLE,"CUAUHTÉMOC, Cuauhtémoc, CIUDAD DE MÉXICO",CIUDAD DE MEXICO,CUAUHTEMOC
3,3,03910,INSURGENTES SUR,Centros de acondicionamiento físico del sector...,SAN JOSÉ INSURGENTES,,6 a 10 personas,6785444,19.36301818,-99.18258457,...,1647,,OCHO SEMANAS I SAPI SA DE CV,,,Fijo,AVENIDA,"BENITO JUÁREZ, Benito Juárez, CIUDAD DE MÉXICO",CIUDAD DE MEXICO,BENITO JUAREZ
4,4,06100,3 SUR (AVENIDA BAJA CALIFORNIA),Centros de acondicionamiento físico del sector...,HIPÓDROMO,,6 a 10 personas,6734479,19.40587201,-99.17085291,...,261,,OCHO SEMANAS I SAPI SA DE CV,,,Fijo,EJE VIAL,"CUAUHTÉMOC, Cuauhtémoc, CIUDAD DE MÉXICO",CIUDAD DE MEXICO,CUAUHTEMOC

In [25]:
#Ahora la data de los Censos Económicos anivel de municipio 
ce_cdmx_mpio_713943 = pd.read_sql('select * from ce_cdmx_mpio_713943_fin;', mysql_conexion) 
ce_cdmx_mpio_713943.head(5)

,anio_censal,clave_entidad,entidad_federativa,clave_municipio,municipio,clave_actividad_economica,ue,H001A,H001B,H001C,K000A,A700A,J000A,M000A,A800A
0,2014,9,CIUDAD DE MEXICO,,None,713943,1719,7527,4163,3364,455.175,466.553,197.605,959.640,960.707
1,2014,9,CIUDAD DE MEXICO,2,AZCAPOTZALCO,713943,61,470,307,163,81.388,84.948,14.664,129.007,129.013
2,2014,9,CIUDAD DE MEXICO,3,COYOACAN,713943,123,486,278,208,20.111,20.328,10.511,45.638,45.638
3,2014,9,CIUDAD DE MEXICO,4,CUAJIMALPA DE MORELOS,713943,37,232,125,107,13.015,13.028,9.445,35.260,35.263
4,2014,9,CIUDAD DE MEXICO,5,GUSTAVO A. MADERO,713943,234,862,480,382,29.761,30.471,17.415,75.164,75.168

In [26]:
#Ahora la data de los Censos Económicos anivel de estrato de personal ocupado 
ce_cdmx_espo_713943 = pd.read_sql('select * from ce_cdmx_espo_713943_fin;', mysql_conexion) 
ce_cdmx_espo_713943.head(5)

,anio_censal,clave_entidad,entidad_federativa,clave_actividad_economica,estrato_dnue,ue,H001A,H000A,H010A,H020A,...,J000A,K000A,M000A,A111A,A121A,A131A,A221A,P000C,O020A,Q000B
0,2014,09,CIUDAD DE MEXICO,713943,total_clase_713943,1719.0,7527.0,6267.0,3691.0,2576.0,...,197.605,455.175,959.640,980.690,453.856,526.834,97.350,1.791,1157.098,92.43582
1,2014,09,CIUDAD DE MEXICO,713943,0 a 5 personas,1376.0,3250.0,3043.0,1057.0,1986.0,...,41.384,134.635,294.455,306.580,133.882,172.698,69.008,1.041,563.474,41.56236
2,2014,09,CIUDAD DE MEXICO,713943,6 a 10 personas,250.0,1850.0,1593.0,1149.0,444.0,...,54.534,90.249,209.135,215.278,90.003,125.275,11.682,0.724,263.224,18.96263
3,2014,09,CIUDAD DE MEXICO,713943,11 a 30 personas,73.0,1242.0,970.0,851.0,119.0,...,38.331,76.675,156.526,159.503,76.555,82.948,9.267,0.021,143.544,10.99156
4,2014,09,CIUDAD DE MEXICO,713943,31 a 50 personas,11.0,416.0,293.0,289.0,4.0,...,34.862,47.357,105.593,105.593,47.357,58.236,5.554,0.000,90.638,10.38827

In [27]:
#El objetivo será distribuir los valores de los indicadores del df ce_cdmx_mpio_713943 
#para cada unidad económica de denue_cdmx_713943
#Primero vamos a crear un df agrupando la data del dnue de municipios y estrato

denue_cdmx_mpio_espo = denue_cdmx_713943[[
                                       'actividad_economica',                                        
                                       'entidad_federativa', 
                                       'municipio',
                                       'estrato'
                                      ]]

In [28]:
denue_cdmx_mpio_espo.head()

,actividad_economica,entidad_federativa,municipio,estrato
0,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,MIGUEL HIDALGO,11 a 30 personas
1,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,GUSTAVO A. MADERO,6 a 10 personas
2,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,CUAUHTEMOC,6 a 10 personas
3,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,BENITO JUAREZ,6 a 10 personas
4,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,CUAUHTEMOC,6 a 10 personas

In [29]:
denue_01 = pd.DataFrame(
                        denue_cdmx_mpio_espo
                        .assign(mpio_espo = lambda x: x['municipio'] + '_' + x['estrato'])
                        )
denue_01.head()

,actividad_economica,entidad_federativa,municipio,estrato,mpio_espo
0,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,MIGUEL HIDALGO,11 a 30 personas,MIGUEL HIDALGO_11 a 30 personas
1,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,GUSTAVO A. MADERO,6 a 10 personas,GUSTAVO A. MADERO_6 a 10 personas
2,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,CUAUHTEMOC,6 a 10 personas,CUAUHTEMOC_6 a 10 personas
3,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,BENITO JUAREZ,6 a 10 personas,BENITO JUAREZ_6 a 10 personas
4,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,CUAUHTEMOC,6 a 10 personas,CUAUHTEMOC_6 a 10 personas

In [30]:
#Aquí vamos a obtener un data frame que nos de el número de establecimientos por municipio y estrato
denue_02 = pd.DataFrame(
                        denue_01
                        .assign(mpio_espo_n = 1)
                        .groupby(['mpio_espo', 'municipio','estrato'])['mpio_espo_n']
                        .sum()
                        .reset_index()
                        )
denue_02.head()

,mpio_espo,municipio,estrato,mpio_espo_n
0,ALVARO OBREGON_0 a 5 personas,ALVARO OBREGON,0 a 5 personas,76
1,ALVARO OBREGON_101 a 250 personas,ALVARO OBREGON,101 a 250 personas,3
2,ALVARO OBREGON_11 a 30 personas,ALVARO OBREGON,11 a 30 personas,7
3,ALVARO OBREGON_31 a 50 personas,ALVARO OBREGON,31 a 50 personas,1
4,ALVARO OBREGON_6 a 10 personas,ALVARO OBREGON,6 a 10 personas,16

In [31]:
#Ahora creamos otro df con el conteo de UE del sector por municipio
denue_03 = pd.DataFrame(
                        denue_cdmx_mpio_espo
                        .assign(municipio_n = 1)
                        .groupby(['municipio'])[ 'municipio_n']
                        .sum()
                        .reset_index()
                        )
denue_03.head()

               municipio  municipio_n
0         ALVARO OBREGON          103
1           AZCAPOTZALCO           67
2          BENITO JUAREZ          112
3               COYOACAN          141
4  CUAJIMALPA DE MORELOS           45

In [32]:
#Hacemos un merge de denue_02 y denue_03
denue_04 = denue_02.merge(denue_03, on = 'municipio', how = 'left')
denue_04.head()

,mpio_espo,municipio,estrato,mpio_espo_n,municipio_n
0,ALVARO OBREGON_0 a 5 personas,ALVARO OBREGON,0 a 5 personas,76,103
1,ALVARO OBREGON_101 a 250 personas,ALVARO OBREGON,101 a 250 personas,3,103
2,ALVARO OBREGON_11 a 30 personas,ALVARO OBREGON,11 a 30 personas,7,103
3,ALVARO OBREGON_31 a 50 personas,ALVARO OBREGON,31 a 50 personas,1,103
4,ALVARO OBREGON_6 a 10 personas,ALVARO OBREGON,6 a 10 personas,16,103

In [33]:
#En este df calculamos la indice para cada estrato y su respectivo municipio, que servirá para distribuir el valor del indicador
denue_05 = pd.DataFrame(
                        denue_04
                        .assign(u = lambda x: x['mpio_espo_n'] / x['municipio_n'])
                        )
denue_05.head()

,mpio_espo,municipio,estrato,mpio_espo_n,municipio_n,u
0,ALVARO OBREGON_0 a 5 personas,ALVARO OBREGON,0 a 5 personas,76,103,0.737864
1,ALVARO OBREGON_101 a 250 personas,ALVARO OBREGON,101 a 250 personas,3,103,0.029126
2,ALVARO OBREGON_11 a 30 personas,ALVARO OBREGON,11 a 30 personas,7,103,0.067961
3,ALVARO OBREGON_31 a 50 personas,ALVARO OBREGON,31 a 50 personas,1,103,0.009709
4,ALVARO OBREGON_6 a 10 personas,ALVARO OBREGON,6 a 10 personas,16,103,0.155340

In [34]:
#Vamos a construir un df con los valores de los indicadores pero solo a nivel de municipio ce_cdmx_mpio_713943

ce_mpio = pd.DataFrame(
                        ce_cdmx_mpio_713943
                        .groupby('municipio')[['H001A', 'H001B', 'H001C', 'K000A', 'A700A', 'J000A', 'M000A', 'A800A']]
                        .sum()
                        .reset_index()
                        )
ce_mpio.head()

,municipio,H001A,H001B,H001C,K000A,A700A,J000A,M000A,A800A
0,ALVARO OBREGON,739,414,325,66.012,67.433,16.785,119.964,120.897
1,AZCAPOTZALCO,470,307,163,81.388,84.948,14.664,129.007,129.013
2,BENITO JUAREZ,527,264,263,40.538,41.388,19.879,82.953,82.953
3,COYOACAN,486,278,208,20.111,20.328,10.511,45.638,45.638
4,CUAJIMALPA DE MORELOS,232,125,107,13.015,13.028,9.445,35.260,35.263

In [35]:
#Ahora vamoa hacer un merge con denue_05
denue_06 = denue_05.merge(ce_mpio, on = 'municipio', how = 'left')
denue_06.head()

,mpio_espo,municipio,estrato,mpio_espo_n,municipio_n,u,H001A,H001B,H001C,K000A,A700A,J000A,M000A,A800A
0,ALVARO OBREGON_0 a 5 personas,ALVARO OBREGON,0 a 5 personas,76,103,0.737864,739.0,414.0,325.0,66.012,67.433,16.785,119.964,120.897
1,ALVARO OBREGON_101 a 250 personas,ALVARO OBREGON,101 a 250 personas,3,103,0.029126,739.0,414.0,325.0,66.012,67.433,16.785,119.964,120.897
2,ALVARO OBREGON_11 a 30 personas,ALVARO OBREGON,11 a 30 personas,7,103,0.067961,739.0,414.0,325.0,66.012,67.433,16.785,119.964,120.897
3,ALVARO OBREGON_31 a 50 personas,ALVARO OBREGON,31 a 50 personas,1,103,0.009709,739.0,414.0,325.0,66.012,67.433,16.785,119.964,120.897
4,ALVARO OBREGON_6 a 10 personas,ALVARO OBREGON,6 a 10 personas,16,103,0.155340,739.0,414.0,325.0,66.012,67.433,16.785,119.964,120.897

In [39]:
#Esta operación permite calular la proporción que le toca a cada establecimiento, según su municipio y
#su estrato de personal ocupado.
denue_07 = pd.DataFrame(
                        denue_06
                        .assign(H001A_mpio = lambda x: x['u'] * x['H001A'] / x['mpio_espo_n'])
                        .assign(H001B_mpio = lambda x: x['u'] * x['H001B'] / x['mpio_espo_n'])
                        .assign(H001C_mpio = lambda x: x['u'] * x['H001C'] / x['mpio_espo_n'])
                        .assign(K000A_mpio = lambda x: x['u'] * x['K000A'] / x['mpio_espo_n'])
                        .assign(A700A_mpio = lambda x: x['u'] * x['A700A'] / x['mpio_espo_n'])
                        .assign(J000A_mpio = lambda x: x['u'] * x['J000A'] / x['mpio_espo_n'])
                        .assign(M000A_mpio = lambda x: x['u'] * x['M000A'] / x['mpio_espo_n'])
                        .assign(A800A_mpio = lambda x: x['u'] * x['A800A'] / x['mpio_espo_n'])
                        )
denue_07.head()

,mpio_espo,municipio,estrato,mpio_espo_n,municipio_n,u,H001A,H001B,H001C,K000A,...,M000A,A800A,H001A_mpio,H001B_mpio,H001C_mpio,K000A_mpio,A700A_mpio,J000A_mpio,M000A_mpio,A800A_mpio
0,ALVARO OBREGON_0 a 5 personas,ALVARO OBREGON,0 a 5 personas,76,103,0.737864,739.0,414.0,325.0,66.012,...,119.964,120.897,7.174757,4.019417,3.15534,0.640893,0.654689,0.162961,1.164699,1.173757
1,ALVARO OBREGON_101 a 250 personas,ALVARO OBREGON,101 a 250 personas,3,103,0.029126,739.0,414.0,325.0,66.012,...,119.964,120.897,7.174757,4.019417,3.15534,0.640893,0.654689,0.162961,1.164699,1.173757
2,ALVARO OBREGON_11 a 30 personas,ALVARO OBREGON,11 a 30 personas,7,103,0.067961,739.0,414.0,325.0,66.012,...,119.964,120.897,7.174757,4.019417,3.15534,0.640893,0.654689,0.162961,1.164699,1.173757
3,ALVARO OBREGON_31 a 50 personas,ALVARO OBREGON,31 a 50 personas,1,103,0.009709,739.0,414.0,325.0,66.012,...,119.964,120.897,7.174757,4.019417,3.15534,0.640893,0.654689,0.162961,1.164699,1.173757
4,ALVARO OBREGON_6 a 10 personas,ALVARO OBREGON,6 a 10 personas,16,103,0.155340,739.0,414.0,325.0,66.012,...,119.964,120.897,7.174757,4.019417,3.15534,0.640893,0.654689,0.162961,1.164699,1.173757

In [40]:
#Nosquedamos solo con los campos de interés

denue_ce_mpio = denue_07[['mpio_espo', 'mpio_espo_n',
                          'H001A_mpio','H001B_mpio','H001C_mpio','K000A_mpio',
                          'A700A_mpio','J000A_mpio','M000A_mpio','A800A_mpio']]
denue_ce_mpio.head()

,mpio_espo,mpio_espo_n,H001A_mpio,H001B_mpio,H001C_mpio,K000A_mpio,A700A_mpio,J000A_mpio,M000A_mpio,A800A_mpio
0,ALVARO OBREGON_0 a 5 personas,76,7.174757,4.019417,3.15534,0.640893,0.654689,0.162961,1.164699,1.173757
1,ALVARO OBREGON_101 a 250 personas,3,7.174757,4.019417,3.15534,0.640893,0.654689,0.162961,1.164699,1.173757
2,ALVARO OBREGON_11 a 30 personas,7,7.174757,4.019417,3.15534,0.640893,0.654689,0.162961,1.164699,1.173757
3,ALVARO OBREGON_31 a 50 personas,1,7.174757,4.019417,3.15534,0.640893,0.654689,0.162961,1.164699,1.173757
4,ALVARO OBREGON_6 a 10 personas,16,7.174757,4.019417,3.15534,0.640893,0.654689,0.162961,1.164699,1.173757

In [41]:
#Ahora vamos a distribuir el total de cada indicador por establecimiento, según su estrato de peronal ocupado

denue_ce_establ = (denue_cdmx_713943[[
                                     'actividad_economica',
                                     'entidad_federativa', 
                                     'municipio',
                                     'cp',
                                     'calle',
                                     'colonia',
                                     'num_exterior',
                                     'num_interior',
                                     'telefono',
                                     'sitio_internet',
                                     'correo_e',
                                     'nombre',
                                     'razon_social',
                                     'latitud',
                                     'longitud',
                                     'estrato']].assign(mpio_espo = lambda x: x['municipio'] + '_' + x['estrato']))
                                     

denue_ce_establ.head()

,actividad_economica,entidad_federativa,municipio,cp,calle,colonia,num_exterior,num_interior,telefono,sitio_internet,correo_e,nombre,razon_social,latitud,longitud,estrato,mpio_espo
0,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,MIGUEL HIDALGO,11550,ANATOLE FRANCE,POLANCO REFORMA,129,,5552818011,WWW.EVOLUTIONPILATES.COM.MX,INFO@EVOLUTIONPILATES.COM.MX,+EVOLUTION PILATES FITNNESS,,19.43242053,-99.19751597,11 a 30 personas,MIGUEL HIDALGO_11 a 30 personas
1,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,GUSTAVO A. MADERO,07080,CABO VERDE,GABRIEL HERNANDEZ,18,,,,,4LMENTS,,19.49710213,-99.09947190,6 a 10 personas,GUSTAVO A. MADERO_6 a 10 personas
2,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,CUAUHTEMOC,06170,ALFONSO REYES,HIPÓDROMO CONDESA,0,,5552712042,4UGYM.COM.MX,,4U GYM,,19.41105369,-99.18176246,6 a 10 personas,CUAUHTEMOC_6 a 10 personas
3,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,BENITO JUAREZ,03910,INSURGENTES SUR,SAN JOSÉ INSURGENTES,1647,,,,,8W BARRANCA DEL MUERTO,OCHO SEMANAS I SAPI SA DE CV,19.36301818,-99.18258457,6 a 10 personas,BENITO JUAREZ_6 a 10 personas
4,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,CUAUHTEMOC,06100,3 SUR (AVENIDA BAJA CALIFORNIA),HIPÓDROMO,261,,,,,8W CONDESA,OCHO SEMANAS I SAPI SA DE CV,19.40587201,-99.17085291,6 a 10 personas,CUAUHTEMOC_6 a 10 personas

In [42]:
#Ahora vamos a cruzar el df de establecimientos denue_ce_establ con denue_ce_mpio, del cual
#resultará nuestro modelo.

denue_ce_model =  (
                    denue_ce_establ
                    .merge(denue_ce_mpio, on = 'mpio_espo', how = 'left')
                  )

In [43]:
denue_ce_model.head()

,actividad_economica,entidad_federativa,municipio,cp,calle,colonia,num_exterior,num_interior,telefono,sitio_internet,...,mpio_espo,mpio_espo_n,H001A_mpio,H001B_mpio,H001C_mpio,K000A_mpio,A700A_mpio,J000A_mpio,M000A_mpio,A800A_mpio
0,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,MIGUEL HIDALGO,11550,ANATOLE FRANCE,POLANCO REFORMA,129,,5552818011,WWW.EVOLUTIONPILATES.COM.MX,...,MIGUEL HIDALGO_11 a 30 personas,13,5.690722,2.793814,2.896907,0.576165,0.595619,0.269938,1.084567,1.085485
1,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,GUSTAVO A. MADERO,07080,CABO VERDE,GABRIEL HERNANDEZ,18,,,,...,GUSTAVO A. MADERO_6 a 10 personas,30,3.315385,1.846154,1.469231,0.114465,0.117196,0.066981,0.289092,0.289108
2,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,CUAUHTEMOC,06170,ALFONSO REYES,HIPÓDROMO CONDESA,0,,5552712042,4UGYM.COM.MX,...,CUAUHTEMOC_6 a 10 personas,36,5.879433,3.496454,2.382979,0.363652,0.372809,0.214702,0.941518,0.941518
3,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,BENITO JUAREZ,03910,INSURGENTES SUR,SAN JOSÉ INSURGENTES,1647,,,,...,BENITO JUAREZ_6 a 10 personas,32,4.705357,2.357143,2.348214,0.361946,0.369536,0.177491,0.740652,0.740652
4,Centros de acondicionamiento físico del sector...,CIUDAD DE MEXICO,CUAUHTEMOC,06100,3 SUR (AVENIDA BAJA CALIFORNIA),HIPÓDROMO,261,,,,...,CUAUHTEMOC_6 a 10 personas,36,5.879433,3.496454,2.382979,0.363652,0.372809,0.214702,0.941518,0.941518

In [44]:
#Ahora vamos a indexar nuestra data resultado del modelo a MySQL

from sqlalchemy import create_engine
engine = create_engine("mysql+mysqldb://root:"+'Adriff22'+"@localhost/proyecto_final")

In [45]:
denue_ce_model.to_sql("denue_ce_model_713943", con = engine, if_exists = 'replace', index = True)

C:\Anaconda3\lib\site-packages\sqlalchemy\engine\default.py:507: Warning: (1366, "Incorrect string value: '\\xE9xic' for column 'VARIABLE_VALUE' at row 518")
  cursor.execute(statement, parameters)
C:\Anaconda3\lib\site-packages\sqlalchemy\engine\default.py:507: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  cursor.execute(statement, parameters)